# Local Datasets
data/raw/*
data/drift_reference/*
data/production/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# AI Models & Checkpoints
models/*
!models/.gitkeep

reports/*

# Python Environments & Cache
__pycache__/
*.pyc
.venv/
venv/
env/

# IDEs and OS Files
.DS_Store
.vscode/
.idea/